{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Art Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="StyleSheet" href="../../static/community/art_community_main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

</head>

<body>
    <div id="heading_component">
        <img src="../../static/community/images/main/title_bg.png" id="title_bg" />

        <div id="page_title">
            <div id="art_community">
                Art Community
            </div>
        </div>
    </div>

    <div id="component_4">
        <a id="book_open_cls_a" _par="" href="library">
            <img src="../../static/community/images/main/vector.png" id="vector" />
            <img src="../../static/community/images/main/vector_ek1.png" id="vector_ek1" />
            <div id="line_1"></div>
            <div id="line_5"></div>
            <div id="line_2"></div>
            <div id="line_6"></div>
            <div id="line_3"></div>
            <div id="line_7"></div>
            <div id="line_4"></div>
            <div id="line_8"></div>
        </a>
    </div>

    <div id="content-container">
        <div id="community_showcase_4">
            <div id="profile_div"></div>

            <div id="artworks">
                <img src="../../static/community/images/main/artwork_1_bg.png" id="artwork_1_bg" />
                <img src="../../static/community/images/main/artwork_2_bg.png" id="artwork_2_bg" />
                <img src="../../static/community/images/main/artwork_3_bg.png" id="artwork_3_bg" />
                <img src="../../static/community/images/main/stuck_at_home_vertical_painting_2.png" id="stuck_at_home_vertical_painting_2" />
                <img src="../../static/community/images/main/wormies_pizza.png" id="wormies_pizza" />
                <img src="../../static/community/images/main/dayflow_bike.png" id="dayflow_bike" />

            </div>

            <div id="profile_avatar">
                <div id="profile_bar"></div>
                <img src="../../static/community/images/main/profile_icon.png" id="profile_icon" />
                <div id="a">
                    Alice
                </div>

                <div id="primary_button">
                    <div id="rectangle"></div>
                    <div id="follow">
                        Follow
                    </div>
                </div>
            </div>
        </div>

        <div id="community_showcase_2">
            <div id="profile_div_ek1"></div>

            <div id="artworks_ek1">

                <div id="art_1">
                    <img src="../../static/community/images/main/artwork_1_bg_ek1.png" id="artwork_1_bg_ek1" />
                    <img src="../../static/community/images/main/dayflow_cat.png" id="dayflow_cat" />

                </div>

                <div id="art_2">
                    <img src="../../static/community/images/main/artwork_2_bg_ek1.png" id="artwork_2_bg_ek1" />
                    <img src="../../static/community/images/main/the_little_things_dog.png" id="the_little_things_dog" />

                </div>

                <div id="art_3">
                    <img src="../../static/community/images/main/artwork_3_bg_ek1.png" id="artwork_3_bg_ek1" />
                    <img src="../../static/community/images/main/stuck_at_home_pet_puppy.png" id="stuck_at_home_pet_puppy" />

                </div>

            </div>

            <div id="profile_avatar_ek1">
                <div id="profile_bar_ek1"></div>
                <img src="../../static/community/images/main/profile_icon_ek1.png" id="profile_icon_ek1" />
                <div id="emily">
                    Emily
                </div>

                <div id="primary_button_ek1">
                    <div id="rectangle_ek1"></div>
                    <div id="follow_ek1">
                        Follow
                    </div>
                </div>
            </div>
        </div>

        <div id="community_showcase_1">
            <div id="profile_div_ek2"></div>

            <div id="profile_avatar_ek2">
                <div id="profile_bar_ek2"></div>
                <img src="../../static/community/images/main/profile_icon_ek2.png" id="profile_icon_ek2" />
                <div id="mike">
                    Mike<br />
                </div>

                <div id="primary_button_ek2">
                    <div id="rectangle_ek2"></div>
                    <div id="follow_ek2">
                        Follow
                    </div>

                </div>

            </div>

        </div>

        <div id="frame_2">

            <a id="art_1_ek1_cls_a" _par="" href="artwork_page_1">

                <a id="group_1_cls_a" _par="" href="#fuzzy_friends_playful_fox">

                    <div id="group_2">
                        <img src="../../static/community/images/main/artwork_1_bg_ek2.png" id="artwork_1_bg_ek2" />
                        <a id="fuzzy_friends_playful_fox_link" href="artwork_page_1">
                            <img src="../../static/community/images/main/fuzzy_friends_playful_fox.png" id="fuzzy_friends_playful_fox" />
                        </a>

                    </div>

                </a>

            </a>

            <div id="art_2_ek1">
                <a id="artwork_2_bg_ek2_link" href="artwork_page_2">
                    <img src="../../static/community/images/main/artwork_2_bg_ek2.png" id="artwork_2_bg_ek2" />
                </a>
                <a id="fuzzy_friends_sweet_koala_link" href="artwork_page_2">
                    <img src="../../static/community/images/main/fuzzy_friends_sweet_koala.png" id="fuzzy_friends_sweet_koala" />
                </a>

            </div>

            <div id="art_3_ek1">
                <a id="artwork_3_bg_ek2_link" href="artwork_page_3">
                    <img src="../../static/community/images/main/artwork_3_bg_ek2.png" id="artwork_3_bg_ek2" />
                </a>
                <a id="fuzzy_friends_artsy_cat_link" href="artwork_page_3">
                    <img src="../../static/community/images/main/fuzzy_friends_artsy_cat.png" id="fuzzy_friends_artsy_cat" />
                </a>
            </div>
        </div>
    </div>

    </div>
</body>

</html>