{% load static %}

<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>artwork_page_1</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="../../static/community/art_community.css" />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

	</head>
<body>
		<div id="content-container" >
			<div id="_bg__artwork_page"  ></div>

			<div id="art_showcase"  >
				<img src="../../static/community/images/artwork_1_bg.png" id="artwork_1_bg" />
				<img src="../../static/community/images/fox.png" id="fox" />

			</div>
			<div id="comments_bg"  ></div>

			<div id="comment_icons_group"  >

				<div id="star"  >
					<img src="../../static/community/images/vector.png" id="vector" />

				</div>

				<div id="heart"  >
					<img src="../../static/community/images/vector_ek1.png" id="vector_ek1" />

				</div>

				<div id="comment"  >
					<img src="../../static/community/images/vector_ek2.png" id="vector_ek2" />

				</div>

			</div>

			<div id="frame_1"  >

				<div id="comment_group_1"  >
					<div id="rectangle_1"  ></div>
					<div id="wow_this_is_cute__really_nice_colors_by_the_way_" >
						Awww I love it! I just followed you.
					</div>

					<div id="profile_avatar"  >
						<img src="../../static/community/images/Christine.png" id="Christine" />
						<div id="mike" >
							Christine
						</div>

					</div>

				</div>

				<div id="comment_group_2"  >
					<div id="rectangle_1_ek1"  ></div>
					<div id="thanks__i_m_glad_that_you_like_it_" >
						Thanks. I'll follow you too!
					</div>

					<div id="profile_avatar_ek1"  >
						<img src="../../static/community/images/Mike.png" id="Mike1" />
						<div id="mike_ek1" >
							Mike
						</div>

					</div>

				</div>

			</div>

			<div id="brush"  >
				<img src="../../static/community/images/vector_ek4.png" id="vector_ek4" />

			</div>

			<a id="keyboard_arrow_right_cls_a"  _par="" href="artwork_page_2" >
				<img src="../../static/community/images/vector_ek5.png" id="vector_ek5" />

			</a>
			<a id="_vector_ek7_link" href="artwork_page_3" >
			<img src="../../static/community/images/_vector_ek7.png" id="_vector_ek7" />
			</a>

			<div id="profile_avatar_ek2"  >
				<div id="profile_bar"  ></div>
				<img src="../../static/community/images/Mike.png" id="Mike2" />
				<div id="mike_ek2" >
					Mike<br/>
				</div>

				<div id="primary_button"  >
					<div id="rectangle"  ></div>
					<div id="follow" >
						Follow
					</div>

				</div>

			</div>

			<div id="component_5"  >

				<div id="heading_component"  >
					<img src="../../static/community/images/title_bg.png" id="title_bg" />

					<div id="page_title"  >
						<div id="art_community" >
							Art Community
						</div>

					</div>

				</div>

				<a id="book_open_cls_a"  _par="" href="library" >
					<img src="../../static/community/images/vector_ek8.png" id="vector_ek8" />
					<img src="../../static/community/images/vector_ek9.png" id="vector_ek9" />
					<div id="line_1"  ></div>
					<div id="line_5"  ></div>
					<div id="line_2"  ></div>
					<div id="line_6"  ></div>
					<div id="line_3"  ></div>
					<div id="line_7"  ></div>
					<div id="line_4"  ></div>
					<div id="line_8"  ></div>

				</a>

			</div>

			<a id="arrow_back_cls_a"  _par="" href="art_community_main_page" >
				<img src="../../static/community/images/vector_ek11.png" id="vector_ek11" />

			</a>

		</div>
	</body>
</html>
