html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
}

#navTop2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 9%;
  background-color: rgb(21, 24, 29);
  z-index: 1;
}

#navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 9%;
  background-color: rgb(21, 24, 29);
  z-index: 2;
}

#drawing-cont {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

#myCanvas {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.color-palette-shape {
  position: absolute;
  top: 76%;
  height: 87%;
  width: 80%;
  border-radius: 100%;
  background-color: rgb(212, 179, 208);
  box-shadow: 0px 0px 5px 2px;
}

.brush-slider-hidden {
  position: relative;
  left: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.brush-slider {
  position: relative;
  top: 76%;
  left: 10%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.strokes {
  position: absolute;
  border-radius: 3rem;
  border: thin solid black;
}

#s1 {
  height: 2.5vw;
  width: 2.5vw;
  bottom: 83vw;
  right: 20vw;
  border: thick solid black;
}

#s2 {
  height: 3.5vw;
  width: 3.5vw;
  bottom: 77vw;
  right: 14vw;
}

#s3 {
  height: 4.5vw;
  width: 4.5vw;
  bottom: 69vw;
  right: 9vw;
}

#color-palette {
  position: absolute;
  top: 82%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}

#resetBtn {
  position: absolute;
  top: 20%;
  left: 12%;
  border-radius: 2rem;
  box-shadow: 1px 1px 2px 2px;
}

.swatch {
  width: 6vw;
  height: 6vw;
  margin: 0.2vw;
  border: thin solid black;
  border-radius: 0.8rem;
}

#navBottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9%;
  background-color: rgb(21, 24, 29);
  box-shadow: 0px 2px 5px 2px;
}

.drawing-nav-btn {
  height: 6vw;
  width: 6vw;
}

#undoBtn, #redoBtn {
  opacity: 15%;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}