html, body {
  height: 100%;
  user-select: none;
}

.lib-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11.2%;
  width: 100%;
  font-family: 'Chilanka', cursive;
  background: #6a4066;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
  box-shadow: 2px 2px 2px 2px;
}


#community-btn {
  position: relative;
  left: -32%;
  height: 30%;
}

.lib-cont {
  position: absolute;
  top: 11.2%;
  height: 100%;
  width: 100%;
  padding: 0 2.5% 0 2.5%;
}

.lib-nav-bar {
  display: flex;
  position: absolute;
  top: 3%;
  height: 15%;
  width: 95%;
}

.nav-tab {
  position: absolute;
  top: 3%;
  height: 15%;
  width: 19%;
  font-size: 3.5vw;
  background-color: white;
  padding-bottom: 10%;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.lib-btn-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 3.5vw;
  color: black;
  padding-bottom: 10%;
  border-radius: 1rem;
  z-index: 1;
}

.lib-btn-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 3.5vw;
  color: white;
  padding-bottom: 10%;
  border-radius: 1rem;
  z-index: 1;
}

.lib-art-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  height: 80%;
  width: 95%;
  background-color: white;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

.img-lib {
  margin: 1vh;
  height: 30%;
  width: 45%;
  object-fit: cover;
  border: 0.3rem solid black;
}